@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }


*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    font-size: 15px;
}


body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 20vh;
    min-width: 100vh;


}

.paciente-box{
    width: 100%;
    
}


form{
  margin: 0 auto;
  text-align: center;
  background-color: #F76B1C;

}


.container{
    text-align: center;
    
    
}

.container h2{
    margin-top: -10px;
    margin-bottom: 5vh;
    background-color: #F76B1C;
    width: 20vh;
    height: 5vh;
    display: inline-block;
    color: white;
    padding-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: lighter;
}

tbody{
    border: 1px rgb(41, 41, 41);;
}


table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: rgb(66, 66, 66);
}

table td{
    border-bottom: 1px solid #F76B1C;
    padding: 10px;
}


table tr th{
    padding: 10px;
    border-bottom: 1px solid #F76B1C;

}

footer{
    background: #F76B1C;
    position: absolute;
    bottom: 0px;
    display: table;
    width: 100%;
    text-align: center;
    height: 100px;
    

}

footer h2{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: lighter;

}

#protocolos{
    border: none;
    background-color: #F76B1C;
    color: white;
} 

#submit{
    height: 25px;
    width: 10vh;
    outline: none;
    border:none;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#fechaCiclo{
    vertical-align: middle;
    background: transparent;
    color: white;
    border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#ciclos{
    background-color: #F76B1C;
    color: white;
    border: none;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

#protocolos::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

#protocolos::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 2px solid #F76B1C;
    border-radius: 50px;
}

#protocolos::-webkit-scrollbar-track {
    border-radius: 2px; 
}

#ciclos::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

#ciclos::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 2px solid #F76B1C;
    border-radius: 50px;
}

#ciclos::-webkit-scrollbar-track {
    border-radius: 2px; 
}

/************************************************************/

#txtFiltro{
    border: none;
    border-bottom: 1px solid #F76B1C;
    outline: none;
    text-align: center;
    width: 20vh;
}


#selecciones{
    margin: 10px;
    padding-bottom: 60px;
}

.paciente-box input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    margin-top: 60px;
    width: 20vh;
    color: white;
}


.paciente-box ::-webkit-input-placeholder{
    color:white;
}

.paciente-box input{
    text-align: center;
    padding-bottom: 4px;

}

.contenedores{
    margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;

}

.otrocontenedor{
    width: 25%;
    margin-top: 18px;
}

.otrocontenedor2{
    width: 25%;

}

.otrocontenedor2 table{
    margin-top: 10px;

}

#pacienteFechas{
    width: 100%;
    display: table;
}


.otrocontenedor table{

    margin-top: 10px;
}

.otrocontenedor2 h2{
    text-align: center;
    
}


#pacienteImagenes{
    display: table;
    width: 25%;
    top: 0px;

}

.otrocontenedor2 h2{
   font-size: 12px;
}



#calcular{
    margin-top: 20px;
    height: 40px;
    outline: none;
    width: 15vh;
    border:none;
    background-color: #F76B1C;
border-radius: 5px;
    cursor: pointer;
    color: white;
}

#eliminar{
margin-top: 20px;
height: 40px;
outline: none;
width: 15vh;
border:none;
background-color: #F76B1C;
border-radius: 5px;
cursor: pointer;
color: white;
}
/************************************************************/
